.content {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  transition: width .3s;
  overflow: scroll;
  line-height: 1.5;
  @media (max-width: $breakpoint) {
    height: 770px;
    width: 100%;
    top: 18em;
  }
}

.content--hidden {
  width: 0;
}

.content__inner {
  padding: 1em 3em 2em;
  box-sizing: border-box;
  @media (max-width: $breakpoint) {
    padding: 1.5em;
    width: 100% !important;
  }
}

.content__header {
  padding: 0 3em;
  @media (max-width: $breakpoint) {
    padding: 0 1.5em;
  }
}

.content__close-button {
  background: none;
  border: none;
  position: absolute;
  right: 3em;
  top: 1em;
  cursor: pointer;
  svg {
    width: 2em;
    height: 2em;
  }
}