.person {
  text-align: center;
  padding-top: 1em;
}

.person--width-arrow {
  position: relative;
  padding-bottom: 4em;
  &::after {
    content: "";
    width: 1em;
    height: 1em;
    display: block;
    margin: 2em auto;
    background: url('../images/icons/arrow-down.svg') no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    @media (max-width: $breakpoint) {
      transform: rotate(-90deg) translateY(-50%);
      left: 100%;
      bottom: 50%;
    }
  }
}

.person--small {
  padding-top: 0;
  position: relative;
  .person__avatar {
    img {
      width: $avatar-size - 1.25;
      height: $avatar-size - 1.25;
      @media (max-width: $breakpoint) {
        width: 17vw;
        height: 17vw;
        max-width: $avatar-size - 1.25;
        max-height: $avatar-size - 1.25;
        margin: 0.6em 0;
      }
      @media (max-width: 26em) {
        margin: 0;
      }
    }
  }
  &::after {
    content: "";
    width: 1em;
    height: 1em;
    display: none;
    margin: 2em auto;
    background: url('../images/icons/arrow-down.svg') no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    @media (max-width: $breakpoint) {
      transform: rotate(-90deg) translateY(-50%);
      left: 100%;
      bottom: 50%;
      display: block;
    }
  }
}

.person__avatar {
  img {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: $avatar-size;
    @media (max-width: $breakpoint) {
      width: 20vw;
      height: 20vw;
      max-width: $avatar-size;
      max-height: $avatar-size;
    }
  }
}

.person__name {
  font-family: $font-stack-headings;
  margin-bottom: 0;
  @media (max-width: $breakpoint) {
    font-size: calc(.8em + 1vw);
  }
}

.person__function {
  margin-top: 0.2em;
  @media (max-width: $breakpoint) {
    min-width: 1em;
    min-height: 1em;
  }
}