@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab:700');
@import "../node_modules/normalize-scss/sass/normalize";


@include normalize();

$font-stack-default: "Roboto", Helvetica, sans-serif;
$font-stack-headings: "Roboto Slab", "Roboto", Helvetica, sans-serif;
$font-stack-sub: "Roboto Condensed", "Roboto", Helvetica, sans-serif;

$avatar-size: 6.25em;
$stroke-width: 2px;

$color-primary: #454849;

$color-Liberal: #cf2a24;
$color-Polo: #f0dc00;
$color-OpcionCiudadana: #bb9c3c;
$color-UnidadNacional: #f08800;
$color-AlianzaVerde: #03a855;
$color-CentroDemocratico: #4ad4ed;
$color-ASI: #a8a8a8;
$color-CambioRadical: #7e00ff;
$color-Conservador: #012bb3;
$color-Mira: #001865;
$color-Mais: #d40096;
$color-Sindefinir: #ccc;

$breakpoint: 1023px;

.color--Liberal {
  color: $color-Liberal
}

.color--Polo {
  color: $color-Polo
}

.color--OpcionCiudadana {
  color: $color-OpcionCiudadana
}

.color--UnidadNacional {
  color: $color-UnidadNacional
}

.color--AlianzaVerde {
  color: $color-AlianzaVerde
}

.color--CentroDemocrático {
  color: $color-CentroDemocratico
}

.color--ASI {
  color: $color-ASI
}

.color--CambioRadical {
  color: $color-CambioRadical
}

.color--Conservador {
  color: $color-Conservador
}

.color--Mira {
  color: $color-Mira
}

.color--Mais {
  color: $color-Mais
}

.color--Sindefinir {
  color: $color-Sindefinir
}

body {
  font: 80% $font-stack-default;
  color: $color-primary;
}

figure {
  margin: 0;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@import "grid";
@import "person";
@import "content";
@import "legend";

.destination__title {
  font-family: $font-stack-headings;
  margin-bottom: 1em;
  @media (max-width: $breakpoint) {
    font-size: calc(.8em + 1vw);
    margin-bottom: 0;
  }
}

.budget__circle {
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(50%);
  background-color: currentColor;
  border-radius: 1.5em;
  z-index: 1;
}

.budget__spend {
  background-color: currentColor;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: .9;
  @media (max-width: $breakpoint) {
    transform: translateX(-50%) scale(0.2);
  }
}

.destination {
  text-align: center;
}

.destination__brand {
  width: 5em;
  height: 5em;
  position: relative;
  margin: 5em auto 0;
  @media (max-width: $breakpoint) {
    margin-top: 0;
    svg {
      width: 90%;
    }
    img {
      width: 45%;
    }
  }
  svg, img, .img--fallback {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  img {
    width: 55%;
  }
  .img--fallback {
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    bottom: inherit;
  }
}

@media (max-width: $breakpoint) {
  .destination__amound {
    font-size: .8em;
  }
}

@media (min-width: 1024px) {
  .destination__amound {
    display: block;
    position: absolute;
    top: 2.25em;
    width: 100%;
    font-size: 0.85em;
    &:before, &:after {
      content: "";
      width: $stroke-width;
      height: 1.7rem;
      position: absolute;
      display: block;
      background-color: $color-primary;
      top: -2rem;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
    }
    &:after {
      top: inherit;
      bottom: 0;
      transform: translateY(0) translateX(-50%);
    }
    &:first-line {
      font-size: 1rem;
      font-family: $font-stack-headings;

    }
  }
  .row__column.destination {
    position: relative;
  }
}

.destination__shield {
  color: currentColor;
  opacity: .9;
}

#destinations .visually-hidden {
  @media (max-width: $breakpoint) {
    position: inherit;
    width: auto;
    height: auto;
    overflow: inherit;
    clip: inherit;
  }
}

.loading h2 {
  padding-left: 2rem;
}